<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/save" method="post">
		<input type="text" name="id" placeholder="id"/>
		<input type="text" name="uname"placeholder="name"/>
		<input type="text" name="password"placeholder="pass"/>
		<input type="text" name="confpass" placeholder="confirm"/>
		<input type="text" name="phone"placeholder="phone"/>
		<input type="text" name="about"placeholder="about"/>
		<input type="submit"/>
		</form>
		<a href="/edit">edit</a>
</body>
</html>